#canvasContainer {
    width: 1000px;
    height: 500px;
    overflow: auto;
}

#pixelCanvas {
    display: grid;
    grid-template-columns: repeat(50, 1fr);
    gap: 1px;
}

.pixel {
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
}